*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
    height: 100%;
}

h1{
    font-size: 80px;
    text-align: center;
}

section{
    align-items: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 1600px
}

div{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.boxColor1{
    margin: 0px;
    padding: 50px;
    width: 20px;
    height: 20px;
    background-color: red;
}

.boxColor2{
    background-color: black;
    margin: 0px;
    padding: 50px;
    width: 20px;
    height: 20px;
}